# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# 가상 환경
venv/
.env
.env.local
.env.production
.env.development

# IDE 및 편집기 관련
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 테스트 및 빌드 관련
coverage/
*.cover
*.log
*.sqlite3

# 배포 관련
instance/
*.pem

# Jupyter Notebook
.ipynb_checkpoints/

# 기타
.DS_Store
Thumbs.db
